.bg-primary {
    background-color: #f8b425 !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #f8b425 !important;
    border-color: #f8b425 !important;
}

body[data-sidebar=dark] .navbar-brand-box {
    background-color: #f8b425 !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #f8b425 !important;
    border-color: #f8b425 !important;
}

